body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: 'Carlito';

  src: url('./fonts/Carlito/Carlito-Bold.ttf') format('truetype'),
  url('./fonts/Carlito/Carlito-BoldItalic.ttf') format('truetype'),
  url('./fonts/Carlito/Carlito-Italic.ttf') format('truetype'),
  url('./fonts/Carlito/Carlito-Regular.ttf') format('truetype');

  font-weight: 700;

  font-style: normal;
}
